@import './date-picker';

.skin-red-light .sidebar-menu .treeview-menu>li>a {
    cursor: pointer;
}

.listMessage{
    img{
        width: 50px;
    }
    td{
        text-align: center;
        vertical-align: middle !important;
    }
}
#title{
    th{
        text-align: center;
    }
}
.box.box-primary{
    border-top-color:#dd4b39;
}


.main-slidebar {
    .sidebar-menu {
        cursor: pointer;
    }
}
.movie-items {
    table {
        th {
            text-align: center;
        }
        tr td {
            text-align: center;
            overflow: hidden;
            vertical-align: middle;
        }
        td.img img {
            // display: block;
            height: 60px;
        }
    }
}


.date_selector {
    left: 0!important;
    top: 35px!important;
    width: 270px;
}

.publish-img-box {
    .info-box-content {
        width: 120px;
        margin: 0;
    }
}